.nav{
    font-size: 40px;
}
.t , .tsang, .tchieu, .tthu{
    background-color: beige;
    border: 1px solid gray;
    height: 50px;
    width: 140px;
    font-size: 20px;
}
 div { 
    height: 50px;
    padding: 7px;
 }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sang , .chieu{
    display: flex;
    flex-direction: row;
}
.thu{
    display: flex;
    flex-direction: row;
}
.thu > .t{
    font-size: 20px;
}

